@CHARSET "UTF-8";

body {
	padding-top: 0px;
	overflow: auto;
	font-family: sans-serif;
}
#questionTable { 
 margin-left:auto;
 margin-right:auto;
 width: 90%;	 
} 
#main { 
 margin-left:auto;
 margin-right:auto;
 width: 900px;	
 font-family: sans-serif; 
}
#login { 
 margin-left:auto;
 margin-right:auto;
 width: 900px;	
 font-family: sans-serif; 
}  
#createLink{
float:right;
}
#leftMainColumn { 
vertical-align: text-top;
 width: 65%; 
 margin: 0px 5px 15px 15px; 
 display: inline-block;
} 
 
#rightMainColumn { 
vertical-align: text-top;
 margin: 0px 15px 15px 5px; 
 width: 25%;
 display: inline-block;
} 

#listBlock{
 border-style:solid;
 border-width:1px;
}